<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Введите имя:</label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <label for="surname">Введите фамилия:</label>
    <input type="text" th:field="*{lastName}" id="surname"/>
    <label for="email">Введите email:</label>
    <input type="email" th:field="*{email}" id="email"/>
    <br>
    <input type="submit" value="Изменить">
</form>

</body>
</html>